@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: dark --default,light;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #F40E08;
  --color-base-100: #000000;
}
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #F40E08;
  --color-base-100: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .btn-angled {
    clip-path: polygon(
      10% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 30%
    );
  }
}
@keyframes slide {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

.animate-slide {
  animation: slide 2s infinite linear;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-fade-in {
  animation: fadeIn 0.7s ease-out forwards;
}